h1 kalkulator
    form(method="POST",action="/hasil")
        input(type="number", name="angka1")
        br
        input(type="number", name="angka2")
        br
        button(type="submit",name="tambah") +
        button(type="submit",name="kurang") -
        button(type="submit",name="bagi") /
        button(type="submit",name="kali") *
